@import "tailwindcss";

.animated-glow {
  box-shadow: 0 0 10px 2px rgba(34, 197, 94, 0.3);
}

.tilt {
  transform: rotate(-40deg);
}

.un-tilt {
  transform: rotate(40deg);
}

@keyframes jumpIn {
  0% {
    transform: scale(0.8) translateY(50px);
    opacity: 0;
  }

  40% {
    transform: scale(1.05) translateY(-10px);
    opacity: 1;
  }

  60% {
    transform: scale(0.97) translateY(4px);
  }

  80% {
    transform: scale(1.02) translateY(-2px);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
}

.jump-in {
  animation: jumpIn 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.breathing-effect {
  animation: breathing 4s ease-in-out infinite;
  animation-delay: 1s;
}

.no-scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.shiny-text {
  color: #b5b5b5a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
